

#search {

	width: 70%;
}

#result {
	width: 70%;
}

.form-control {
	border-radius: 0;
	width: 50%;
}

.input-group {
	border-radius: 0;
}



#search-button {
	border-radius: 0;
}

body {
	background-image: url("https://hydra-media.cursecdn.com/dota2.gamepedia.com/3/30/Fall_2016_Battle_Pass_Loading_Screen_III_16x9.png?version=34ffe64e39dc5026a50563eb138b6d49");
	background-repeat: no-repeat; 
	background-size: cover; /*cover the full page*/
}